body {
  font-family: 'Open Sans', sans-serif;
  background:#F3EBF6;
  margin: 0 auto 0 auto;  
  width: 100%; 
  text-align: center;
  font-size: 15px;
}

.base_header {
  margin-top: 20px;
  text-align: right;
  padding-right: 20px;
}

.header_btn, .signUp, .dropdown_btn, .detail_btn {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #9C27B0, #E040FB);
  text-decoration: none;
}

.header_btn, .dropdown_btn {
  padding: 10px 15px;
  font-size: 15px;
}

.dropdown_btn{
  margin-top: 0px;
}

.detail_btn {
  padding: 20px 35px;
  margin: 10px;
  font-size: 18px;
}

.signUp {
  font-size: 15px;
  padding: 10px 20px;
}

.login-title, .profile_title{
  padding-top: 60px;
  color: #8C55AA;
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 20px;
}

.position_title {
  padding-top: 60px;
  color: #8C55AA;
  font-weight: bold;
  font-size: 40px;
  text-align: left;
  padding-left: 100px;
}

.login-container, .reg-container, .profile-container, .refer-container, .change-container{
  background-color: #FFFFFF;
  margin: 8em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.login-container {
  width: 400px;
  height: 400px;
}

.reg-container, .refer-container {
  width: 600px;
  height: 600px;
}

.profile-container {
  width: 600px;
  height: 650px;
}

.detail-container {
  background-color: #FFFFFF;
  margin: 4em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  width: 90%;
  height: 1000px;
}

.loginInfo, .regInput, .referInput, .announcement{
  color: rgb(38, 50, 56);
  font-weight: 700;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px;
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 20px;
}

.loginInfo, .regInput, .referInput {
  width: 80%;
}

.announcement {
  width: 50%;
}

.loginInfo, .regInput {
  text-align: center;
}

.referInput {
  text-align: left;
  line-height:20px;
}

.loginInfo:focus, .regInput:focus, .referInput:focus, .announcement:focus {
  border: 2px solid #592693 !important;
}

.signIn, .next, .save_profile, .search_btn, .status, .save_result, .send_announce{
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #9C27B0, #E040FB);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.signIn, .next, .save_profile, .search_btn, .status, .save_result {
  width: 100px;
  margin-top: 20px;
}

.send_announce {
  width: 200px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.status {
  margin-left: 20px;
}

.signIn, .status {
  font-size: 15px;
  margin-bottom: 20px;
}

.reg-table {
  padding-top: 30px;
  width: 90%;
}

.student-table, .referral-info-table {
  padding-top: 70px;
  width: 90%;
  padding-bottom: 20px;
}

.position-table {
  padding-top: 50px;
  width: 90%;
  padding-bottom: 50px;
}

.position-table tr {
  height: 70px;
}

.detaillabel {
  width: 30%;
  font-size: 25px;
}

.detailInfo {
  padding-left: 20px;
  text-align: left;
  font-size: 20px;
}

.next {
  margin-top: 30px;
}

.searchSubtitle {
  color: rgb(132, 82, 157);
  font-style: italic;
  font-size: 18px;
}

.search_input { 
  background: #fff;
  height: 30px;
  border-radius: 2em;
  border-color: #8C55AA;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  width: 600px;
  font-size: 15px;
}

.searchTitle {
  padding-top: 20px;
  color: #8C55AA;
  font-weight: bold;
  font-size: 40px;
}

.header {
  margin-top: 20px;
  margin-bottom: 50px;
}

.search_by_button_grp, .is_admin_registration {
  border: none;
  margin-top: 30px;
}

.is_admin_registration p {
  font-size: 20px;
}

.is_admin_registration label {
  font-size: 18px;
}

.register_admin_radio {
  margin-right: 50px;
}

.search_result {
  margin-top: 30px;
}

.search_table, .search_result, .student_dashboard_table, .referrer_dashboard_table, .admin_dashboard_table {
  width: 100%;
}

.search_result, .student_dashboard_table, .referrer_dashboard_table, .admin_dashboard_table {
  padding-left: 50px;
  padding-right: 50px;
}

.welcomeBack{
  font-family:cursive;
  font-size: 45px;
  font-weight: normal; 
  line-height: 48px;
  margin-top: 20px;
  color:#5D0DD0;
}

.student_dashboard_table td,th, .search_result td, th, 
.referrer_dashboard_table td, th, .admin_dashboard_table td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.dashboard {
  color:purple;
}

.student_dashboard_container, .referrer_dashboard_container{
  text-align: center;
  margin: auto;
  width: 100%;
  height: 100%;
  position: absolute;
}

.error {
  color: red;
  font-weight: bold;
}

.success {
  font-weight: bold;
}

.required{
  color:red;
}

.action {
  width: 300px;
}

.change-status {
  margin-bottom: 20px;
}

.status-form {
  margin-bottom: 30px;
}

.status-form-label {
  font-size: 20px;
}

.status-form-action {
  margin-left:10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2em;
  border-color: #8C55AA;
}

#result { 
  z-index: 999;
  width: 700px;
  margin: 0 auto;
}

.result_matches tr {
  font-size: 16px;
  cursor: pointer;
  border: #8C55AA;
}

#message_center_div {
  margin-top: 20px;
  border-radius: 2em;
  width: 250px;
  height: 500px;
  background: rgb(217, 158, 249);
  position: absolute;
  right: 0px;
  margin-right: 20px;
  z-index: 10;
  display: none;
  text-align: left;
}

/* Below css are referenced from 
   https://stackoverflow.com/questions/50409234/tooltip-inline-with-form-input
  We also modified his version.
*/
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: rgb(217, 158, 249);
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}