<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <meta name=author content="Annie Liu and Michelle Zhao">
    <title>Base Header</title>
    <link rel='stylesheet' href="{{ url_for('static',filename = 'style.css') }}">
</head>

<body>
    <div class="base_header">
        <a href="{{ url_for('dashboard') }}" class="header_btn">Dashboard</a>
        <a href="{{ url_for('logout') }}" class="header_btn">Logout</a>
        {% block header %}
        {% endblock %}
    </div>

    <div id="main">
        {% block main %}
        {% endblock %}
    </div>

    <script src="{{ url_for('static',filename = 'messageCenter.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>