<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name=author content="Annie Liu">
    <title>Main Search Page</title>
    <link rel='stylesheet' href="/static/style.css">
</head>

<body>
    <table>
        <tbody>
            <tr>
                header
            </tr>
            <tr>
                <div class = "searchFormContainer">
                    <h1 class="searchTitle">𝕽𝖊𝖋𝖊𝖗𝖗𝖆𝖑 𝕯𝖆𝖙𝖆𝖇𝖆𝖘𝖊</h1>
                    <p class="searchSubtitle">referral database</p>
                    <form class="search" method="POST" action="{{url_for('mainSearch')}}">
                        <p><label>Search <input type="text" name="query" placeholder="Search for job position" required></label><br>
                        <fieldset id="radio_button_group" required>
                            <input type="radio" id="position_name" name="search_by" value="position">
                            <label for="position_name">Position Name</label>
                            <input type="radio" id="referrer" name="search_by" value="referrer">
                            <label for="referrer">Referrer</label>
                            <input type="radio" id="company" name="search_by" value="company">
                            <label for="company">Company</label>
                        </fieldset>

                        <input type="submit" value="Submit"></p>
                    </form>
                </div>
            </tr>
        </tbody> 
    </table>

    <body id="content">
        {% block content %}
        {% endblock %}
    </body>
</body>
</html>