<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <meta name=author content="Annie Liu">
    <title>Main Search Page</title>
    <link rel='stylesheet' href="/static/style.css">
</head>

<body>
    <table class="search_table">
        <tr>
            <td>
                <div class="header">
                    header
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="searchFormContainer">
                    <h1 class="searchTitle">Referral Database</h1>
                    <p class="searchSubtitle">Are you looking for a referral? Here is the right place for you!</p>
                    <form class="search" method="POST" action="{{url_for('mainSearch')}}">
                        <input class="search_input" aria-label="Search" type="text" name="query"
                            placeholder="Search for job position" required>
                        <input type="submit" class="search_btn" value="Search">
                        <fieldset class="search_by_button_grp" id="radio_button_group">
                            <input type="radio" id="position_name" name="search_by" value="position" checked>
                            <label for="position_name">Position Name</label>
                            <input type="radio" id="referrer" name="search_by" value="referrer">
                            <label for="referrer">Referrer</label>
                            <input type="radio" id="company" name="search_by" value="company">
                            <label for="company">Company</label>
                        </fieldset>
                    </form>
                </div>
            </td>
        </tr>
    </table>

    <body id="content">
        {% block content %}
        {% endblock %}
    </body>
</body>

</html>