
<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name=author content="Michelle Zhao">
    <title>Welcome Page Template</title>
    <link rel='stylesheet' href="/static/style.css">
</head>

<body>
    <div class="profile">
        <h1 class = profile_title>Profile Settings</h4>
        <div class="profile_column">
            {% block content %}
            {% endblock %}
        </div>
        <div class="profile_button"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
    </div>
</body>
</html>