{% extends "profile_template.html" %}
{% block content %}

{% with message = get_flashed_messages() %}
{% if message %}
<div id="message">
    <p class="error">{{message}}</p>
</div>
{% endif %}
{% endwith %}

{% if is_update %}
<form id="referrer-profile-form" method="POST" action="{{url_for('update_profile', uid = uid )}}">
    {% endif %}

    {% if not is_update%}
    <form id="referrer-profile-form" method="POST" action="{{url_for('profile_referrer', uid = uid )}}">
        {% endif %}
        <table class="reg-table">
            <tr>
                <td><label for="company">Company<span class="required">*</span></label></td>
                <td><input class="regInput" id="company" name="company" placeholder="Enter Company"
                        value="{{dic.company}}" required></td>
            </tr>
            <tr>
                <td><label for="position">Position<span class="required">*</span></label></td>
                <td><input class="regInput" id="position" name="position" placeholder="Enter your Job Position"
                        value="{{dic.position}}" required>
                </td>
            </tr>

            <!-- Contact email is the email that you wish to use for Wellesley College Students to contact you, which can be different with your registration email. -->
            <tr>
                <td><label for="contactEmail">Contact Email<span class="required">*</span></label>
                    <a href="#" class="tooltip">
                        ?
                        <span class="tooltiptext">Contact email is the email that you wish to use for Wellesley College
                            Students to contact you, which can be different with your registration email.</span>
                    </a>
                </td>
                <td><input class="regInput" id="contactEmail" name="contactEmail" placeholder="Enter your email"
                        value="{{dic.emailPrefer}}" required>
                </td>
            </tr>
            <tr>
                <td><label for="linkedIn">LinkedIn</label></td>
                <td><input class="regInput" id="linkedIn" name="linkedIn" placeholder="Enter your linkedin profile link"
                        value="{{dic.linkedin}}">
                </td>
            </tr>
            <tr>
                <td><label for="phnum">Phone Number</label></td>
                <td><input class="regInput" id="phnum" name="phnum" type="number" placeholder="Enter Phone number"
                        value="{{dic.phoneNumber}}"></td>
            </tr>
            <tr>
                <td><label for="otherContact">Other Contact Method</label></td>
                <td><input class="regInput" id="otherContact" name="otherContact"
                        placeholder="Enter other contact method" value="{{dic.otherContact}}">
                </td>
            </tr>
        </table>
        <input class="save_profile" type="submit" value="Save Profile">
    </form>

    {% endblock %}