{% extends "profile_template.html" %}
{% block content %}
<div>
    <div><label class="labels">Name</label><input type="text" name= "Name" class="form-control" placeholder="Enter Company" value=""></div>
    <div><label class="labels">Major</label><input type="text" name= "Name" class="form-control" placeholder="Enter Company" value=""></div>
    <div><label class="labels">Minor</label><input type="text" name= "Company" class="form-control" placeholder="Enter Company" value=""></div>
    <div><label class="labels">Preferred Location</label><input type="text" name= "Position" class="form-control" placeholder="Enter your Job Position" value=""></div>
    <div><label class="labels">Description</label><input type="text" name= "Contact Email" class="form-control" placeholder="Enter your email (required)" value=""></div>
</div>
{% endblock %}
