{% extends "profile_template.html" %}
{% block content %}

{% with message = get_flashed_messages() %}
{% if message %}
<div id="message">
    <p class="error">{{message}}</p>
</div>
{% endif %}
{% endwith %}

{% if is_update %}
<form id="student-profile-form" method="POST" action = "{{url_for('update_profile',uid = uid)}}" enctype="multipart/form-data">
{% endif %}
{% if not is_update%}
<form id="student-profile-form" method="POST" action = "{{url_for('profile_student',uid = uid)}}" enctype="multipart/form-data">
{% endif %}
    <table class="student-table">
        <tr>
            <td><label for="major">Major<span class="required">*</span></label></td>
            <td><input class="regInput" id="major" name="major" placeholder="Enter Your Major" value="{{major}}"
                    required></td>
        </tr>
        <tr>
            <td><label for="minor">Minor</label></td>
            <td><input class="regInput" id="minor" name="minor" placeholder="Enter Your Minor" value="{{minor}}"></td>
        </tr>
        <tr>
            <td><label for="prefLoc">Preferred Location</label></td>
            <td><input class="regInput" id="prefLoc" name="prefLoc" placeholder="Enter Your Preferrer Location"
                    value="{{loc}}"></td>
        </tr>
        <tr>
            <td><label for="description">Description</label></td>
            <td><input class="regInput" id="description" name="description"
                    placeholder="Enter a Description of yourself" value="{{des}}"></td>
        </tr>
        <tr>
            <td><label for="resume">Resume<span class="required">*</span></label></td>
            <td><input type="file" class="fileUpload" id="resume" name="resume" value="{{resume}}" required></td>
        </tr>
    </table>
    <input class="save_profile" type="submit" value="Save Profile">
</form>

{% endblock %}