{% extends "profile_template.html" %}
{% block content %}
<div>
    <div><label class="labels">Name</label><input type="text" name= "Name" class="form-control" placeholder="Enter Company" value=""></div>
    <div><label class="labels">Company</label><input type="text" name= "Company" class="form-control" placeholder="Enter Company" value=""></div>
    <div><label class="labels">Position</label><input type="text" name= "Position" class="form-control" placeholder="Enter your Job Position" value=""></div>
    <div><label class="labels">Contact Email</label><input type="text" name= "Contact Email" class="form-control" placeholder="Enter your email (required)" value=""></div>
    <div><label class="labels">LinkedIn</label><input type="text" name= "LinkedIn" class="form-control" placeholder="Enter your linkedin profile link (optional)" value=""></div>
    <div><label class="labels">Phone Number</label><input type="text" name= "PhoneNumber" class="form-control" placeholder="Enter Phone number (optional)" value=""></div>
    <div><label class="labels">Other Contact Method</label><input type="text" name= "Other" class="form-control" placeholder="Enter other contact method (optional)" value="">
</div>
{% endblock %}
