{% extends "mainSearch.html" %}
{% block content %}

<div class="queryResult">
    {% if results %}
        <table class="search_result">
            <tr>
                <th>Position Name</th>
                <th>Company</th>
                <th>Referrer</th>
                <th>View Detail</th>
            </tr>
            
            {% for result in results %}
            <tr>
                <td>{{result.positionName}}</td>
                <td>{{result.company}}</td>
                <td>{{result.referrerName}}</td>
                <td><a href="{{ url_for('position_detail', pid = result.pid) }}" class="detailButton">View Detail</a></td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if msg %}
    <div id="message">
        <h1 class="error">{{ desc }}</h1>
        <p class="error">{{msg}}</p>
    </div>
    {% endif %}
</div>

{% endblock %}
