{% extends "mainSearch.html" %}
{% block content %}

<div class="queryResult">
    {% if results %}
        <table>
            <th>Position Name</th>
            <th>Company</th>
            <th>Referrer</th>
            <th>View Detail</th>
            {% for result in results %}
            <tr>
                <td>{{result.positionName}}</td>
                <td>{{result.company}}</td>
                <td>{{result.referrerName}}</td>
                <td><button class="detailButton" type="button">View Detail</button>
            </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if msg %}
    <div id="message">
        <h1 class="error">{{ desc }}</h1>
        <p class="error">{{msg}}</p>
    </div>
    {% endif %}
</div>

{% endblock %}
