<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name=author content="Michelle Zhao">
    <title>Base Registration Page</title>
    <link rel='stylesheet' href="/static/style.css">
</head>

<body>
    <div class="searchFormContainer">
        <p class="login-title">Announcement Submission</p>
        <form id="announcement-form" method="" action="">
            <p><label>Announcement <input type="text" placeholder="Enter your announcement there"></label><br>
            <input class="next" type="submit" value="announcement">
        </form>
    </div>
</body>
</html>