{% extends "welcome.html" %}
{% block welcome_content %}
<h2 class="dashboard">Your DashBoard</p>
    <table class = dashboard_table>
        <tr>
          <th>Name</th>
          <th>Details</th>
          <th>Status</th>
        </tr>
        <tr>
          <td>Ally</td>
          <td>SWE Application</td>
          <td>Waiting</td>
        </tr>
        <tr>
            <td>Sally</td>
            <td>UI/UX Application</td>
            <td>Accept</td>
        </tr>
        <tr>
            <td>Name_sample</td>
            <td>UI/UX Application</td>
            <td>Decline</td>
        </tr>
    </table>       

{% endblock %}
