{% extends "welcome.html" %}

{% block header %}
<a href="{{ url_for('update_profile') }}">
  <button name="updateProfile" class="header_btn">Update Profile</button></a>
<a href="{{ url_for('mainSearch') }}">
  <button name="search_btn" class="header_btn">Search</button></a>
{% endblock %}

{% block welcome_content %}
<div>
  <h1 class=welcomeBack>Welcome Back, Student!</h1>
  <h2 class="dashboard">Your DashBoard</h2>
  <table class=dashboard_table>
    <tr>
      <th>Name</th>
      <th>Details</th>
      <th>Status</th>
    </tr>
    <tr>
      <td>Ally</td>
      <td>SWE Application</td>
      <td>Waiting</td>
    </tr>
    <tr>
      <td>Sally</td>
      <td>UI/UX Application</td>
      <td>Accept</td>
    </tr>
    <tr>
      <td>Name_sample</td>
      <td>UI/UX Application</td>
      <td>Decline</td>
    </tr>
  </table>
</div>

{% endblock %}