{% extends "welcome.html" %}

{% block header %}
<a href="{{ url_for('update_profile') }}" class="header_btn">Update Profile</a>
<a href="{{ url_for('jobs') }}" class="header_btn">New Position</a>
<button id="message_center" class="dropdown_btn">Message Center</button>
<div id="message_center_div" class="dropdown_content">
</div>
{% endblock %}

{% block welcome_content %}
<div class="referrer_dashboard_container">
  <h1 class=welcomeBack>Welcome, Referrer!</h1>
  <h2 class="dashboard">Your DashBoard</h2>

  {% if msg %}
  <div id="message">
    <h1 class="error">{{ msg }}</h1>
  </div>
  {% endif %}

  {% if results %}
  <table class="referrer_dashboard_table">
    <tr>
      <th>Student Name</th>
      <th>Position Applied</th>
      <th>Your Response</th>
      <th>Detail</th>
    </tr>
    {% for result in results %}
    <tr>
      <td>{{result.studentName}}</td>
      <td>{{result.positionName}}</td>
      <td>{{result.referStatus}}</td>
      <td><a href="{{ url_for('student_detail', sid = result.sid, pid = result.pid) }}" class="detailButton">View
          Detail</a></td>
      <!-- need a pid -->
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</div>

{% endblock %}